<a href="https://colab.research.google.com/github/Sojeong-Bae/bioinfo/blob/main/free%20project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
 from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#환경구축

In [45]:
!git clone https://github.com/hyeshik/colab-biolab.git
!cd colab-biolab && bash tools/setup.sh
exec(open('colab-biolab/tools/activate_conda.py').read())

fatal: destination path 'colab-biolab' already exists and is not an empty directory.
./
./root/
./root/.bashrc.biolab
./root/.bin.priority/
./root/.bin.priority/pip
./root/.bin.priority/pip2
./root/.bin.priority/pip3
./root/.condarc
./root/.profile
./root/.tmux.conf
tar: ./root: file changed as we read it
./root/.vimrc
PREFIX=/root/conda
Unpacking payload ...
Collecting package metadata (current_repodata.json): - \ | / - \ done
Solving environment: / - \ | / - \ done

## Package Plan ##

  environment location: /root/conda

  added / updated specs:
    - _libgcc_mutex==0.1=main
    - _openmp_mutex==4.5=1_gnu
    - brotlipy==0.7.0=py39h27cfd23_1003
    - ca-certificates==2021.10.26=h06a4308_2
    - certifi==2021.10.8=py39h06a4308_2
    - cffi==1.15.0=py39hd667e15_1
    - charset-normalizer==2.0.4=pyhd3eb1b0_0
    - conda-content-trust==0.1.1=pyhd3eb1b0_0
    - conda-package-handling==1.7.3=py39h27cfd23_1
    - conda==4.11.0=py39h06a4308_0
    - cryptography==36.0.0=py39h9ce1e76_0
    - idna==3.3=pyhd3eb1b0_0
    - ld_impl_linux-64==2.35.1=h7274673_9
    - libffi==3.3=he6710b0_2
    - libgcc-ng==9.3.0=h5101ec6_17
    - libgomp==9.3.0=h5101ec6_17
    - libstdcxx-ng==9.3.0=hd4cf53a_17
    - ncurses==6.3=h7f8727e_2
    - openssl==1.1.1m=h7f8727e_0
    - pip==21.2.4=py39h06a4308_0
    - pycosat==0.6.3=py39h27cfd23_0
    - pycparser==2.21=pyhd3eb1b0_0
    - pyopenssl==21.0.0=pyhd3eb1b0_1
    - pysocks==1.7.1=py39h06a4308_0
    - python==3.9.7=h12debd9_1
    - readline==8.1.2=h7f8727e_1
    - requests==2.27.1=pyhd3eb1b0_0
    - ruamel_yaml==0.15.100=py39h27cfd23_0
    - setuptools==58.0.4=py39h06a4308_0
    - six==1.16.0=pyhd3eb1b0_0
    - sqlite==3.37.0=hc218d9a_0
    - tk==8.6.11=h1ccaba5_0
    - tqdm==4.62.3=pyhd3eb1b0_1
    - tzdata==2021e=hda174b7_0
    - urllib3==1.26.7=pyhd3eb1b0_0
    - wheel==0.37.1=pyhd3eb1b0_0
    - xz==5.2.5=h7b6447c_0
    - yaml==0.2.5=h7b6447c_0
    - zlib==1.2.11=h7f8727e_4


The following packages will be DOWNGRADED:

  ca-certificates                      2022.3.29-h06a4308_1 --> 2021.10.26-h06a4308_2
  conda                               4.12.0-py39h06a4308_0 --> 4.11.0-py39h06a4308_0
  conda-package-han~                   1.8.1-py39h7f8727e_0 --> 1.7.3-py39h27cfd23_1
  openssl                                 1.1.1n-h7f8727e_0 --> 1.1.1m-h7f8727e_0
  pyopenssl                             22.0.0-pyhd3eb1b0_0 --> 21.0.0-pyhd3eb1b0_1
  python                                  3.9.12-h12debd9_0 --> 3.9.7-h12debd9_1
  setuptools                          61.2.0-py39h06a4308_0 --> 58.0.4-py39h06a4308_0
  six                                   1.16.0-pyhd3eb1b0_1 --> 1.16.0-pyhd3eb1b0_0
  sqlite                                  3.38.2-hc218d9a_0 --> 3.37.0-hc218d9a_0
  tqdm                                  4.63.0-pyhd3eb1b0_0 --> 4.62.3-pyhd3eb1b0_1
  tzdata                                   2022a-hda174b7_0 --> 2021e-hda174b7_0
  urllib3                               1.26.8-pyhd3eb1b0_0 --> 1.26.7-pyhd3eb1b0_0
  zlib                                    1.2.12-h7f8727e_1 --> 1.2.11-h7f8727e_4


Preparing transaction: / - done
Executing transaction: | / - \ | / - \ | / - done
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /root/conda
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
Solving environment: / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done


==> WARNING: A newer version of conda exists. <==
  current version: 4.11.0
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /root/conda/envs/lab

  added / updated specs:
    - bedtools
    - biopython
    - bwa
    - cython
    - matplotlib
    - numpy
    - pandas
    - pip
    - pysam
    - samtools
    - scipy
    - star


The following NEW packages will be INSTALLED:

  _libgcc_mutex      conda-forge/linux-64::_libgcc_mutex-0.1-conda_forge
  _openmp_mutex      conda-forge/linux-64::_openmp_mutex-4.5-2_gnu
  alsa-lib           conda-forge/linux-64::alsa-lib-1.2.3.2-h166bdaf_0
  attr               conda-forge/linux-64::attr-2.5.1-h166bdaf_0
  bedtools           bioconda/linux-64::bedtools-2.30.0-h468198e_3
  biopython          conda-forge/linux-64::biopython-1.79-py39h3811e60_1
  brotli             conda-forge/linux-64::brotli-1.0.9-h166bdaf_7
  brotli-bin         conda-forge/linux-64::brotli-bin-1.0.9-h166bdaf_7
  bwa                bioconda/linux-64::bwa-0.7.17-h7132678_9
  bzip2              conda-forge/linux-64::bzip2-1.0.8-h7f98852_4
  c-ares             conda-forge/linux-64::c-ares-1.18.1-h7f98852_0
  ca-certificates    conda-forge/linux-64::ca-certificates-2022.5.18.1-ha878542_0
  certifi            conda-forge/linux-64::certifi-2022.5.18.1-py39hf3d152e_0
  cycler             conda-forge/noarch::cycler-0.11.0-pyhd8ed1ab_0
  cython             conda-forge/linux-64::cython-0.29.30-py39h5a03fae_0
  dbus               conda-forge/linux-64::dbus-1.13.6-h5008d03_3
  expat              conda-forge/linux-64::expat-2.4.8-h27087fc_0
  fftw               conda-forge/linux-64::fftw-3.3.10-nompi_h77c792f_102
  font-ttf-dejavu-s~ conda-forge/noarch::font-ttf-dejavu-sans-mono-2.37-hab24e00_0
  font-ttf-inconsol~ conda-forge/noarch::font-ttf-inconsolata-3.000-h77eed37_0
  font-ttf-source-c~ conda-forge/noarch::font-ttf-source-code-pro-2.038-h77eed37_0
  font-ttf-ubuntu    conda-forge/noarch::font-ttf-ubuntu-0.83-hab24e00_0
  fontconfig         conda-forge/linux-64::fontconfig-2.14.0-h8e229c2_0
  fonts-conda-ecosy~ conda-forge/noarch::fonts-conda-ecosystem-1-0
  fonts-conda-forge  conda-forge/noarch::fonts-conda-forge-1-0
  fonttools          conda-forge/linux-64::fonttools-4.33.3-py39hb9d737c_0
  freetype           conda-forge/linux-64::freetype-2.10.4-h0708190_1
  gettext            conda-forge/linux-64::gettext-0.19.8.1-h73d1719_1008
  giflib             conda-forge/linux-64::giflib-5.2.1-h36c2ea0_2
  gst-plugins-base   conda-forge/linux-64::gst-plugins-base-1.20.2-hcf0ee16_0
  gstreamer          conda-forge/linux-64::gstreamer-1.20.2-hd4edc92_1
  htslib             bioconda/linux-64::htslib-1.15.1-h9753748_0
  icu                conda-forge/linux-64::icu-70.1-h27087fc_0
  jack               conda-forge/linux-64::jack-1.9.18-hfd4fe87_1001
  jpeg               conda-forge/linux-64::jpeg-9e-h166bdaf_1
  keyutils           conda-forge/linux-64::keyutils-1.6.1-h166bdaf_0
  kiwisolver         conda-forge/linux-64::kiwisolver-1.4.2-py39hf939315_1
  krb5               conda-forge/linux-64::krb5-1.19.3-h3790be6_0
  lcms2              conda-forge/linux-64::lcms2-2.12-hddcbb42_0
  ld_impl_linux-64   conda-forge/linux-64::ld_impl_linux-64-2.36.1-hea4e1c9_2
  lerc               conda-forge/linux-64::lerc-3.0-h9c3ff4c_0
  libblas            conda-forge/linux-64::libblas-3.9.0-15_linux64_openblas
  libbrotlicommon    conda-forge/linux-64::libbrotlicommon-1.0.9-h166bdaf_7
  libbrotlidec       conda-forge/linux-64::libbrotlidec-1.0.9-h166bdaf_7
  libbrotlienc       conda-forge/linux-64::libbrotlienc-1.0.9-h166bdaf_7
  libcap             conda-forge/linux-64::libcap-2.64-ha37c62d_0
  libcblas           conda-forge/linux-64::libcblas-3.9.0-15_linux64_openblas
  libclang           conda-forge/linux-64::libclang-14.0.4-default_h2e3cab8_0
  libclang13         conda-forge/linux-64::libclang13-14.0.4-default_h3a83d3e_0
  libcups            conda-forge/linux-64::libcups-2.3.3-hf5a7f15_1
  libcurl            conda-forge/linux-64::libcurl-7.83.1-h7bff187_0
  libdb              conda-forge/linux-64::libdb-6.2.32-h9c3ff4c_0
  libdeflate         conda-forge/linux-64::libdeflate-1.10-h7f98852_0
  libedit            conda-forge/linux-64::libedit-3.1.20191231-he28a2e2_2
  libev              conda-forge/linux-64::libev-4.33-h516909a_1
  libevent           conda-forge/linux-64::libevent-2.1.10-h9b69904_4
  libffi             conda-forge/linux-64::libffi-3.4.2-h7f98852_5
  libflac            conda-forge/linux-64::libflac-1.3.4-h27087fc_0
  libgcc-ng          conda-forge/linux-64::libgcc-ng-12.1.0-h8d9b700_16
  libgfortran-ng     conda-forge/linux-64::libgfortran-ng-12.1.0-h69a702a_16
  libgfortran5       conda-forge/linux-64::libgfortran5-12.1.0-hdcd56e2_16
  libglib            conda-forge/linux-64::libglib-2.70.2-h174f98d_4
  libgomp            conda-forge/linux-64::libgomp-12.1.0-h8d9b700_16
  libiconv           conda-forge/linux-64::libiconv-1.16-h516909a_0
  liblapack          conda-forge/linux-64::liblapack-3.9.0-15_linux64_openblas
  libllvm14          conda-forge/linux-64::libllvm14-14.0.4-he0ac6c6_0
  libnghttp2         conda-forge/linux-64::libnghttp2-1.47.0-h727a467_0
  libnsl             conda-forge/linux-64::libnsl-2.0.0-h7f98852_0
  libogg             conda-forge/linux-64::libogg-1.3.4-h7f98852_1
  libopenblas        conda-forge/linux-64::libopenblas-0.3.20-pthreads_h78a6416_0
  libopus            conda-forge/linux-64::libopus-1.3.1-h7f98852_1
  libpng             conda-forge/linux-64::libpng-1.6.37-h21135ba_2
  libpq              conda-forge/linux-64::libpq-14.3-hd77ab85_0
  libsndfile         conda-forge/linux-64::libsndfile-1.0.31-h9c3ff4c_1
  libssh2            conda-forge/linux-64::libssh2-1.10.0-ha56f1ee_2
  libstdcxx-ng       conda-forge/linux-64::libstdcxx-ng-12.1.0-ha89aaad_16
  libtiff            conda-forge/linux-64::libtiff-4.4.0-h0fcbabc_0
  libtool            conda-forge/linux-64::libtool-2.4.6-h9c3ff4c_1008
  libudev1           conda-forge/linux-64::libudev1-249-h166bdaf_2
  libuuid            conda-forge/linux-64::libuuid-2.32.1-h7f98852_1000
  libvorbis          conda-forge/linux-64::libvorbis-1.3.7-h9c3ff4c_0
  libwebp            conda-forge/linux-64::libwebp-1.2.2-h3452ae3_0
  libwebp-base       conda-forge/linux-64::libwebp-base-1.2.2-h7f98852_1
  libxcb             conda-forge/linux-64::libxcb-1.13-h7f98852_1004
  libxkbcommon       conda-forge/linux-64::libxkbcommon-1.0.3-he3ba5ed_0
  libxml2            conda-forge/linux-64::libxml2-2.9.14-h22db469_0
  libzlib            conda-forge/linux-64::libzlib-1.2.12-h166bdaf_0
  lz4-c              conda-forge/linux-64::lz4-c-1.9.3-h9c3ff4c_1
  matplotlib         conda-forge/linux-64::matplotlib-3.5.2-py39hf3d152e_0
  matplotlib-base    conda-forge/linux-64::matplotlib-base-3.5.2-py39h700656a_0
  munkres            conda-forge/noarch::munkres-1.1.4-pyh9f0ad1d_0
  mysql-common       conda-forge/linux-64::mysql-common-8.0.29-haf5c9bc_1
  mysql-libs         conda-forge/linux-64::mysql-libs-8.0.29-h28c427c_1
  ncurses            conda-forge/linux-64::ncurses-6.3-h27087fc_1
  nspr               conda-forge/linux-64::nspr-4.32-h9c3ff4c_1
  nss                conda-forge/linux-64::nss-3.78-h2350873_0
  numpy              conda-forge/linux-64::numpy-1.22.4-py39hc58783e_0
  openjpeg           conda-forge/linux-64::openjpeg-2.4.0-hb52868f_1
  openssl            conda-forge/linux-64::openssl-1.1.1o-h166bdaf_0
  packaging          conda-forge/noarch::packaging-21.3-pyhd8ed1ab_0
  pandas             conda-forge/linux-64::pandas-1.4.2-py39h1832856_2
  pcre               conda-forge/linux-64::pcre-8.45-h9c3ff4c_0
  perl               conda-forge/linux-64::perl-5.32.1-2_h7f98852_perl5
  pillow             conda-forge/linux-64::pillow-9.1.1-py39hae2aec6_1
  pip                conda-forge/noarch::pip-22.1.2-pyhd8ed1ab_0
  pthread-stubs      conda-forge/linux-64::pthread-stubs-0.4-h36c2ea0_1001
  pulseaudio         conda-forge/linux-64::pulseaudio-14.0-hbc9ff1d_7
  pyparsing          conda-forge/noarch::pyparsing-3.0.9-pyhd8ed1ab_0
  pyqt               conda-forge/linux-64::pyqt-5.15.4-py39h18e9c17_1
  pyqt5-sip          conda-forge/linux-64::pyqt5-sip-12.9.0-py39h5a03fae_1
  pysam              bioconda/linux-64::pysam-0.19.1-py39h5030a8b_0
  python             conda-forge/linux-64::python-3.9.13-h9a8a25e_0_cpython
  python-dateutil    conda-forge/noarch::python-dateutil-2.8.2-pyhd8ed1ab_0
  python_abi         conda-forge/linux-64::python_abi-3.9-2_cp39
  pytz               conda-forge/noarch::pytz-2022.1-pyhd8ed1ab_0
  qt-main            conda-forge/linux-64::qt-main-5.15.3-hf97cb25_2
  readline           conda-forge/linux-64::readline-8.1-h46c0cb4_0
  samtools           bioconda/linux-64::samtools-1.15.1-h1170115_0
  scipy              conda-forge/linux-64::scipy-1.8.1-py39he49c0e8_0
  setuptools         conda-forge/linux-64::setuptools-62.3.2-py39hf3d152e_0
  sip                conda-forge/linux-64::sip-6.5.1-py39he80948d_2
  six                conda-forge/noarch::six-1.16.0-pyh6c4a22f_0
  sqlite             conda-forge/linux-64::sqlite-3.38.5-h4ff8645_0
  star               bioconda/linux-64::star-2.7.10a-h9ee0642_0
  tk                 conda-forge/linux-64::tk-8.6.12-h27826a3_0
  toml               conda-forge/noarch::toml-0.10.2-pyhd8ed1ab_0
  tornado            conda-forge/linux-64::tornado-6.1-py39hb9d737c_3
  tzdata             conda-forge/noarch::tzdata-2022a-h191b570_0
  unicodedata2       conda-forge/linux-64::unicodedata2-14.0.0-py39hb9d737c_1
  wheel              conda-forge/noarch::wheel-0.37.1-pyhd8ed1ab_0
  xorg-libxau        conda-forge/linux-64::xorg-libxau-1.0.9-h7f98852_0
  xorg-libxdmcp      conda-forge/linux-64::xorg-libxdmcp-1.1.3-h7f98852_0
  xz                 conda-forge/linux-64::xz-5.2.5-h516909a_1
  zlib               conda-forge/linux-64::zlib-1.2.12-h166bdaf_0
  zstd               conda-forge/linux-64::zstd-1.5.2-h8a70e8d_1


Preparing transaction: / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
Verifying transaction: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
Executing transaction: / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done
#
# To activate this environment, use
#
#     $ conda activate lab
#
# To deactivate an active environment, use
#
#     $ conda deactivate

Activated conda environment `lab'!

## 시퀀싱 데이터 다운로드

In [3]:
!ls -al /content/drive/MyDrive/binfo1-datapack1/

total 7980692
-rw------- 1 root root 1370036258 May  6  2021 CLIP-35L33G.bam
-rw------- 1 root root    3118336 May  6  2021 CLIP-35L33G.bam.bai
-rw------- 1 root root    2432996 Jun  6 03:03 CLIP-35L33G-chr19.bam
-rw------- 1 root root   57854772 Jun  6 03:05 CLIP-35L33G-chr19.pileup
-rw------- 1 root root    2134718 Jun  3 06:08 CLIP-35L33G-chr1.bam
-rw------- 1 root root   73316956 Jun  3 06:08 CLIP-35L33G-chr1.pileup
-rw------- 1 root root       1185 May 27 05:56 CLIP-35L33G-chr22.bam
-rw------- 1 root root          0 May 27 05:47 CLIP-35L33G-chr22.pileup
-rw------- 1 root root       8692 May 27 05:11 CLIP-let7d.bam
-rw------- 1 root root      20809 May 27 05:11 CLIP-let7d-gene.pileup
-rw------- 1 root root      20809 May 27 05:11 CLIP-let7d.pileup
-rw------- 1 root root       7263 May 27 05:12 CLIP-let7f-1.bam
-rw------- 1 root root      15266 May 27 05:12 CLIP-let7f-1-gene.pileup
-rw------- 1 root root      17802 May 27 05:12 CLIP-let7f-1.pileup
-rw------- 1 root root       7078 May 27 05:07 CLIP-let7g-1.bam
-rw------- 1 root root          0 May 27 05:07 CLIP-let7g-1-gene.pileup
-rw------- 1 root root    2685065 May 27 05:07 CLIP-let7g-1.pileup
-rw------- 1 root root       7077 May 27 05:11 CLIP-let7g.bam
-rw------- 1 root root      14561 May 27 05:11 CLIP-let7g-gene.pileup
-rw------- 1 root root    2685065 May 27 05:11 CLIP-let7g.pileup
drwx------ 2 root root       4096 May  5 09:44 colab-biolab
-rw------- 1 root root  567739792 May 19 02:14 filtered-RPF-siLuc.bam
-rw------- 1 root root   28109361 May 19 02:19 fivepcounts-filtered-RPF-siLuc.txt
-rw------- 1 root root   45957833 May 19 02:19 fivepcounts-RPF-siLuc.bed
-rw------- 1 root root     855103 May 19 02:12 gencode-exons-containing-startcodon.bed
-rw------- 1 root root  883334756 May 21 00:24 gencode.gtf
-rw------- 1 root root   28359457 May 21 09:06 gencode.gtf.gz
-rw------- 1 root root   26842797 May 19 02:12 gencode-plusexon.gtf
-rw------- 1 root root    1063832 May 19 02:12 gencode-start.gtf
-rw------- 1 root root   24065406 May  5 09:54 read-counts.txt
-rw------- 1 root root        751 May  5 09:54 read-counts.txt.summary
-rw------- 1 root root 1003658801 May  6  2021 RNA-control.bam
-rw------- 1 root root    2276104 May  6  2021 RNA-control.bam.bai
-rw------- 1 root root 1260991122 May  6  2021 RNA-siLin28a.bam
-rw------- 1 root root    2710744 May  6  2021 RNA-siLin28a.bam.bai
-rw------- 1 root root  981684502 May  6  2021 RNA-siLuc.bam
-rw------- 1 root root    2606104 May  6  2021 RNA-siLuc.bam.bai
-rw------- 1 root root  737352902 May  6  2021 RPF-siLin28a.bam
-rw------- 1 root root    2482768 May  6  2021 RPF-siLin28a.bam.bai
-rw------- 1 root root 1055123479 May  6  2021 RPF-siLuc.bam
-rw------- 1 root root    2605912 May  6  2021 RPF-siLuc.bam.bai
-rw------- 1 root root         62 Jun  6 03:02 select-chr19.bed
-rw------- 1 root root         60 Jun  3 06:07 select-chr1.bed
-rw------- 1 root root         46 May 27 05:47 select-chr22.bed
-rw------- 1 root root       2802 May 13 04:06 test2.bam
-rw------- 1 root root       2802 May 13 04:06 test.txt

### 파일 체크섬 확인
```
140aaf30bcb9276cc716f8699f04ddd6  CLIP-35L33G.bam
f1b3336ed7e2f97d562dcc71641251bd  CLIP-35L33G.bam.bai
328883a73d507eafbf5b60bd6b906201  RNA-control.bam
02073818e2f398a73c3b76e5169de1ca  RNA-control.bam.bai
b09550d09d6c2a4ce27f0226f426fdb1  RNA-siLin28a.bam
fef112c727244060ea62d3f2564a07f6  RNA-siLin28a.bam.bai
28bbd0c47d725669340c784f1b772c01  RNA-siLuc.bam
43590fdc4d81905c0432e0d1cb8cfd5b  RNA-siLuc.bam.bai
5c08a9297307bc83259e658c4474f0cc  RPF-siLin28a.bam
a1bb3e29be412dfd7fd8d16b1b1acc4c  RPF-siLin28a.bam.bai
f2eebf50943024d0116c9cd3e744c707  RPF-siLuc.bam
dc24f69e8f571fc8be30f28ce5b84fcd  RPF-siLuc.bam.bai
```

In [4]:
!md5sum drive/MyDrive/binfo1-datapack1/*

140aaf30bcb9276cc716f8699f04ddd6  drive/MyDrive/binfo1-datapack1/CLIP-35L33G.bam
f1b3336ed7e2f97d562dcc71641251bd  drive/MyDrive/binfo1-datapack1/CLIP-35L33G.bam.bai
73bdf8ac03c45d5cae0d61b5a5c2dfe9  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr19.bam
894c3a175179a178595def7ee924f280  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr19.pileup
b930f0573c30083e928cd7b287dfe3c0  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr1.bam
3bfd0dfc375b56d5cec502c2fb4dd4aa  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr1.pileup
478f836ec883f4a4b50e5c06efdac905  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr22.bam
d41d8cd98f00b204e9800998ecf8427e  drive/MyDrive/binfo1-datapack1/CLIP-35L33G-chr22.pileup
9f43477870337dfddbc154809a2a3ec8  drive/MyDrive/binfo1-datapack1/CLIP-let7d.bam
8f0013aa795510f597e241c1b69e6341  drive/MyDrive/binfo1-datapack1/CLIP-let7d-gene.pileup
8f0013aa795510f597e241c1b69e6341  drive/MyDrive/binfo1-datapack1/CLIP-let7d.pileup
d5d8996d383d994fe1916bf239f91964  drive/MyDrive/binfo1-datapack1/CLIP-let7f-1.bam
1c34f27bcc5f407e54d8112938bc9d2c  drive/MyDrive/binfo1-datapack1/CLIP-let7f-1-gene.pileup
9b172b22ce452b8f7ef1b02dcf61516b  drive/MyDrive/binfo1-datapack1/CLIP-let7f-1.pileup
3ed4a18d8e392a2fc63409168f84cd7f  drive/MyDrive/binfo1-datapack1/CLIP-let7g-1.bam
d41d8cd98f00b204e9800998ecf8427e  drive/MyDrive/binfo1-datapack1/CLIP-let7g-1-gene.pileup
a53f66a5575d4ac2d3b4c44af576d44d  drive/MyDrive/binfo1-datapack1/CLIP-let7g-1.pileup
0d33bf4b3a5ce22ba13a62323efd6883  drive/MyDrive/binfo1-datapack1/CLIP-let7g.bam
4ea14471c5d4bf9ab1fd91b9a5b2193c  drive/MyDrive/binfo1-datapack1/CLIP-let7g-gene.pileup
a53f66a5575d4ac2d3b4c44af576d44d  drive/MyDrive/binfo1-datapack1/CLIP-let7g.pileup
md5sum: drive/MyDrive/binfo1-datapack1/colab-biolab: Is a directory
d477bd9acca237bbc6e0fbd81cdc6c0b  drive/MyDrive/binfo1-datapack1/filtered-RPF-siLuc.bam
2b5021d2ac3d4830fd963d950a2dc0b8  drive/MyDrive/binfo1-datapack1/fivepcounts-filtered-RPF-siLuc.txt
7211785786bc63bf95a5bb678cad71c1  drive/MyDrive/binfo1-datapack1/fivepcounts-RPF-siLuc.bed
ed47186ee44654792a8a130c695f3a22  drive/MyDrive/binfo1-datapack1/gencode-exons-containing-startcodon.bed
d54d428f5872030c4ffc43058709b896  drive/MyDrive/binfo1-datapack1/gencode.gtf
794eb8d273987a094dcc013afa2a1956  drive/MyDrive/binfo1-datapack1/gencode.gtf.gz
3469e3e3e018302c5488adc052fd1e21  drive/MyDrive/binfo1-datapack1/gencode-plusexon.gtf
b1c38579a9e8e0313c1508f02ce0afaf  drive/MyDrive/binfo1-datapack1/gencode-start.gtf
f691d94ca9c72e6feedbfe4561dd5b83  drive/MyDrive/binfo1-datapack1/read-counts.txt
7c9528c08ed2f1ae6e2de599db1aa8fb  drive/MyDrive/binfo1-datapack1/read-counts.txt.summary
328883a73d507eafbf5b60bd6b906201  drive/MyDrive/binfo1-datapack1/RNA-control.bam
02073818e2f398a73c3b76e5169de1ca  drive/MyDrive/binfo1-datapack1/RNA-control.bam.bai
b09550d09d6c2a4ce27f0226f426fdb1  drive/MyDrive/binfo1-datapack1/RNA-siLin28a.bam
fef112c727244060ea62d3f2564a07f6  drive/MyDrive/binfo1-datapack1/RNA-siLin28a.bam.bai
28bbd0c47d725669340c784f1b772c01  drive/MyDrive/binfo1-datapack1/RNA-siLuc.bam
43590fdc4d81905c0432e0d1cb8cfd5b  drive/MyDrive/binfo1-datapack1/RNA-siLuc.bam.bai
5c08a9297307bc83259e658c4474f0cc  drive/MyDrive/binfo1-datapack1/RPF-siLin28a.bam
a1bb3e29be412dfd7fd8d16b1b1acc4c  drive/MyDrive/binfo1-datapack1/RPF-siLin28a.bam.bai
f2eebf50943024d0116c9cd3e744c707  drive/MyDrive/binfo1-datapack1/RPF-siLuc.bam
dc24f69e8f571fc8be30f28ce5b84fcd  drive/MyDrive/binfo1-datapack1/RPF-siLuc.bam.bai
d7985af7d0b9bb3663cd55a204a315f2  drive/MyDrive/binfo1-datapack1/select-chr19.bed
56d0bcf66874dc386345d136d029dc52  drive/MyDrive/binfo1-datapack1/select-chr1.bed
11453c0fc31b02f359b223429d5f31c4  drive/MyDrive/binfo1-datapack1/select-chr22.bed
3a3d25e3a3b66f2ab8cc89204255c01c  drive/MyDrive/binfo1-datapack1/test2.bam
3a3d25e3a3b66f2ab8cc89204255c01c  drive/MyDrive/binfo1-datapack1/test.txt

#프로그램 추가설치

In [39]:
!pip install biopython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: biopython in /usr/local/lib/python3.7/dist-packages (1.79)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython) (1.21.6)

In [38]:
!conda install -y bedtools bioawk

/bin/bash: conda: command not found

## 데이터 가져오기

In [7]:
%cd /content/drive/MyDrive/binfo1-datapack1/

/content/drive/MyDrive/binfo1-datapack1

In [37]:
!samtools view CLIP-35L33G.bam|cut -f3|uniq -c

/bin/bash: samtools: command not found

In [24]:
%cd /content/drive/MyDrive/binfo1-datapack1/

/content/drive/MyDrive/binfo1-datapack1

In [25]:
ls

 CLIP-35L33G.bam
 CLIP-35L33G.bam.bai
 CLIP-35L33G-chr19.bam
 CLIP-35L33G-chr19.pileup
 CLIP-35L33G-chr1.bam
 CLIP-35L33G-chr1.pileup
 CLIP-35L33G-chr22.bam
 CLIP-35L33G-chr22.pileup
 CLIP-let7d.bam
 CLIP-let7d-gene.pileup
 CLIP-let7d.pileup
 CLIP-let7f-1.bam
 CLIP-let7f-1-gene.pileup
 CLIP-let7f-1.pileup
 CLIP-let7g-1.bam
 CLIP-let7g-1-gene.pileup
 CLIP-let7g-1.pileup
 CLIP-let7g.bam
 CLIP-let7g-gene.pileup
 CLIP-let7g.pileup
 colab-biolab/
 filtered-RPF-siLuc.bam
 fivepcounts-filtered-RPF-siLuc.txt
 fivepcounts-RPF-siLuc.bed
 gencode-exons-containing-startcodon.bed
 gencode.gtf
 gencode.gtf.gz
 gencode-plusexon.gtf
 gencode-start.gtf
 GRCm39.primary_assembly.genome.faa.gz
 GRCm39.primary_assembly.genome.fa.gz
 read-counts.txt
 read-counts.txt.summary
 RNA-control.bam
 RNA-control.bam.bai
 RNA-siLin28a.bam
 RNA-siLin28a.bam.bai
 RNA-siLuc.bam
 RNA-siLuc.bam.bai
 RPF-siLin28a.bam
 RPF-siLin28a.bam.bai
 RPF-siLuc.bam
 RPF-siLuc.bam.bai
 select-chr19.bed
 select-chr1.bed
 select-chr22.bed
 test2.bam
 test.txt
'연구윤리 퀴즈 및 성적 정리.xlsx'

In [24]:
from google.colab import files
files.upload()

Saving GRCm39.primary_assembly.genome.fa.gz to GRCm39.primary_assembly.genome.fa (1).gz

In [26]:
!gzip -d GRCm39.primary_assembly.genome.faa.gz

In [27]:
!grep "chr" GRCm39.primary_assembly.genome.faa

>chr1 1
>chr2 2
>chr3 3
>chr4 4
>chr5 5
>chr6 6
>chr7 7
>chr8 8
>chr9 9
>chr10 10
>chr11 11
>chr12 12
>chr13 13
>chr14 14
>chr15 15
>chr16 16
>chr17 17
>chr18 18
>chr19 19
>chrX X
>chrY Y
>chrM MT

In [28]:
from Bio import SeqIO

seq1 = SeqIO.parse("GRCm39.primary_assembly.genome.faa", "fasta")
print(type(seq1))

<class 'Bio.SeqIO.FastaIO.FastaIterator'>

In [30]:
for seq_record in seq1:
    if (seq_record.id == 'chr19'):
       a = seq_record.seq

In [31]:
len(a)

61420004

In [32]:
str(a)

In [33]:
file = open("chr19.txt", "w")

In [34]:
with open("chr19.txt", "w") as file:
    file.write(str(a))

In [35]:
file.close()

In [46]:
!samtools view CLIP-35L33G.bam | head -5

SRR458758.23028115	0	chr1	3056473	0	20M	*	0	0	GAATGGAAGTTCAAGGATCT	HHGHHGE@GGHHED?GEGDG	MD:Z:20	NH:i:40	HI:i:1	NM:i:0	SM:i:0	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.23879202	0	chr1	3056473	0	20M	*	0	0	GAATGGAAGTTCAAGGATCT	GBGGEEAAF=CEEDEGBGG>	MD:Z:20	NH:i:40	HI:i:1	NM:i:0	SM:i:0	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.23893532	0	chr1	3056473	0	20M	*	0	0	GAATGGAAGTTCAAGGATCT	G@?GGE=EFBDDGGGGD@GG	MD:Z:20	NH:i:40	HI:i:1	NM:i:0	SM:i:0	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.26501547	0	chr1	3056473	0	20M	*	0	0	GAATGGAAGTTCAAGGATCT	IIIHIIIHIGHIIIHEHIHH	MD:Z:20	NH:i:40	HI:i:1	NM:i:0	SM:i:0	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.685997	16	chr1	3059006	0	22M	*	0	0	TTCATTTACAGAATGGAATACT	EG7:776DGGGBD<GGEBGEG@	MD:Z:22	NH:i:30	HI:i:1	NM:i:0	SM:i:0	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:+

In [47]:
!samtools view -b -o CLIP-chr1.bam CLIP-35L33G.bam chr1
!samtools view CLIP-chr1.bam | wc -l

2912078

#Chromosome 1

In [43]:
!bedtools intersect -abam CLIP-35L33G.bam -b select-chr1.bed > CLIP-35L33G-chr1.bam

/bin/bash: bedtools: command not found

In [48]:
!samtools mpileup -l select-chr1.bed CLIP-35L33G.bam  > CLIP-35L33G-chr1.pileup

[mpileup] 1 samples in 1 input files

In [49]:
!wc -l *chr1.pileup

1831666 CLIP-35L33G-chr1.pileup

In [51]:
!head -20 CLIP-35L33G-chr1.pileup

chr1	15000001	N	4	>>>>	IGIE
chr1	15000002	N	4	>>>>	IGIE
chr1	15000003	N	4	>>>>	IGIE
chr1	15000004	N	4	>>>>	IGIE
chr1	15000005	N	4	>>>>	IGIE
chr1	15000006	N	4	>>>>	IGIE
chr1	15000007	N	4	>>>>	IGIE
chr1	15000008	N	4	>>>>	IGIE
chr1	15000009	N	4	>>>>	IGIE
chr1	15000010	N	4	>>>>	IGIE
chr1	15000011	N	4	>>>>	IGIE
chr1	15000012	N	4	>>>>	IGIE
chr1	15000013	N	4	>>>>	IGIE
chr1	15000014	N	4	>>>>	IGIE
chr1	15000015	N	4	>>>>	IGIE
chr1	15000016	N	4	>>>>	IGIE
chr1	15000017	N	4	>>>>	IGIE
chr1	15000018	N	4	>>>>	IGIE
chr1	15000019	N	4	>>>>	IGIE
chr1	15000020	N	4	>>>>	IGIE

In [52]:
!awk '{ print $4 }' CLIP-35L33G-chr1.pileup | head -5

4
4
4
4
4

In [53]:
!awk '$4 > 10' CLIP-35L33G-chr1.pileup | head -10

In [54]:
!head -5 CLIP-35L33G-chr1.pileup

chr1	15000001	N	4	>>>>	IGIE
chr1	15000002	N	4	>>>>	IGIE
chr1	15000003	N	4	>>>>	IGIE
chr1	15000004	N	4	>>>>	IGIE
chr1	15000005	N	4	>>>>	IGIE

In [56]:
import pandas as pd
import numpy as np

In [57]:
chr1 = pd.read_csv('CLIP-35L33G-chr1.pileup', sep = '\t', index_col = 0)

In [58]:
chr1.head()

      15000001  N  4  >>>>  IGIE
chr1
chr1  15000002  N  4  >>>>  IGIE
chr1  15000003  N  4  >>>>  IGIE
chr1  15000004  N  4  >>>>  IGIE
chr1  15000005  N  4  >>>>  IGIE
chr1  15000006  N  4  >>>>  IGIE

In [59]:
chr1_filtered = chr1[chr1['4'] >= 50]

In [60]:
chr1_filtered.head(10)

,15000001,N,4,>>>>,IGIE
chr1,,,,,
chr1,15137483,N,53,"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^#A^""...",IIGI:IGGHGGHAF5I?BEHI8GH?H@IEBBID1HHHIHIGGHEII...
chr1,15137484,N,53,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,IIGGBIHHHHBEGHEIG:EHIDHG>EGI<BGHH8HHEIHIGEHGII...
chr1,15137485,N,53,GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...,IHBI?IDHHHGHGH@I?BGHHEHH>DDICB?IH9@HHIHIGGBBII...
chr1,15137486,N,53,CCCCCCCCCCCCCCCCCCCC*CCCCCCCCCCCCCCCCCCCCCCCCC...,BHBI/IGFEGEDGH@I@=EHIDIHBHDGDGDIH8EHGIHIBGE@II...
chr1,15137487,N,54,CCCCCCCCCCCCCCCCCCCC*CCCCCCCCCCCCCCCCCCCCCCCCC...,IIEIBIHHHHEHGH@IDDHEIBIHAGEIC4EIH8HHHIFIGBHGII...
chr1,15137488,N,54,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,IIFIBIBHHHGHGHAID@HGIGIH>BGIE6<IHB@HHIDIBGHGII...
chr1,15137489,N,54,GGGGGGGGGGGGGGGGGGGGCGGGGGGGGGGGGGGGGGGGGGGGGG...,IIHIEI@HHGHDGH@IG=EGHGEHCGBID:?IH=EHHIDIE@HGII...
chr1,15137490,N,54,GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,IHHHAIGBHGBHGH@I4B=GGGHHAGGI>:BHH?GHEI@IGGHGHI...
chr1,15137491,N,54,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IIHIEIEHGGHHDH<HDD@GHBIH2DDIB3EIFBGHHFGIDDHGII...
chr1,15137492,N,54,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,IIGIDIGGHDHHGH@IDBEDGGIH>GGI>AEIG1DHDIGIEGFGII...

In [61]:
chr1_filtered.shape

(39857, 5)

In [63]:
chr1_filtered.to_csv('CLIP-chr1-50.pileup',sep = '\t')

In [64]:
!head -20 CLIP-chr1-50.pileup

chr1	15000001	N	4	>>>>	IGIE
chr1	15137483	N	53	"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^#A^""A^""A^#A^#A^""A^""A^#A^#A^#A^""A^#A"	IIGI:IGGHGGHAF5I?BEHI8GH?H@IEBBID1HHHIHIGGHEIIHDHHGIG
chr1	15137484	N	53	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA	IIGGBIHHHHBEGHEIG:EHIDHG>EGI<BGHH8HHEIHIGEHGIIHIHIEID
chr1	15137485	N	53	GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHBI?IDHHHGHGH@I?BGHHEHH>DDICB?IH9@HHIHIGGBBIIGIHHEIH
chr1	15137486	N	53	CCCCCCCCCCCCCCCCCCCC*CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	BHBI/IGFEGEDGH@I@=EHIDIHBHDGDGDIH8EHGIHIBGE@IIHIHIGIH
chr1	15137487	N	54	CCCCCCCCCCCCCCCCCCCC*CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC^#C	IIEIBIHHHHEHGH@IDDHEIBIHAGEIC4EIH8HHHIFIGBHGIIHIHIEIHH
chr1	15137488	N	54	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IIFIBIBHHHGHGHAID@HGIGIH>BGIE6<IHB@HHIDIBGHGIIHIHIGIHH
chr1	15137489	N	54	GGGGGGGGGGGGGGGGGGGGCGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IIHIEI@HHGHDGH@IG=EGHGEHCGBID:?IH=EHHIDIE@HGIIHIHIGIGH
chr1	15137490	N	54	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHHHAIGBHGBHGH@I4B=GGGHHAGGI>:BHH?GHEI@IGGHGHIHGHIGIHH
chr1	15137491	N	54	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	IIHIEIEHGGHHDH<HDD@GHBIH2DDIB3EIFBGHHFGIDDHGIIHIGIBIHH
chr1	15137492	N	54	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IIGIDIGGHDHHGH@IDBEDGGIH>GGI>AEIG1DHDIGIEGFGIIHIHIGIHH
chr1	15137493	N	54	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IIHIDIGHHGHHGH@IDEGGHGIHCGGICBDIG:GHHIDIEEHGIIGHHHFIHH
chr1	15137494	N	54	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IIGIEIDGDGEDGG8G=EEDGGHHAGEIC?<HD?GGHBGIEGHBIIHIHIFIHH
chr1	15137495	N	54	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IGEIGHDGGGFGBG=G@EDG@GIHBGGIA::GG?BHHIDIDDHDIIHIHICIHH
chr1	15137496	N	54	TTTTTTTT-1NTTT-1NT-1NTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	DFGH@EGBEFGGBDDG;<DGB@IF>FBB50EIE7DEDBEH8BD<HGFIEH>HBE
chr1	15137497	N	54	GGGGGGG*GG**GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IIGIBIEDGEFGGG8G9DGGGGGHGGGI=<EIGBGFHIGIDBHBIIHIHHFIHH
chr1	15137498	N	54	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IIGIDIEDDDFGGG8G@4EG=GIHBGGG:EBIGDGHHFGHEEH?IIGHGIGIGH
chr1	15137499	N	54	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA	>FDGGGDG@GBBCG?DE4B<A>IH@E<I6=3IE38GG@>D7FD?IIEGBGBIGH
chr1	15137500	N	54	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	EGGGBBEGDEFECD2DDBDGBGIHGBGI68EIG1CGGGGG@BHBIIGHGGEIEG
chr1	15137501	N	54	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	GGCIDGDGGGCDEG2GEDGEEGGHGG@I5BEIGBEDGGBI=FH;IIGIGIEIGH

In [65]:
pileup = pd.read_csv('CLIP-chr1-50.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.head()

,chrom,pos,_ref,count,basereads,quals
0,chr1,15000001,N,4,>>>>,IGIE
1,chr1,15137483,N,53,"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^#A^""...",IIGI:IGGHGGHAF5I?BEHI8GH?H@IEBBID1HHHIHIGGHEII...
2,chr1,15137484,N,53,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,IIGGBIHHHHBEGHEIG:EHIDHG>EGI<BGHH8HHEIHIGEHGII...
3,chr1,15137485,N,53,GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...,IHBI?IDHHHGHGH@I?BGHHEHH>DDICB?IH9@HHIHIGGBBII...
4,chr1,15137486,N,53,CCCCCCCCCCCCCCCCCCCC*CCCCCCCCCCCCCCCCCCCCCCCCC...,BHBI/IGFEGEDGH@I@=EHIDIHBHDGDGDIH8EHGIHIBGE@II...

In [66]:
pileup_long_read = pileup[pileup['count'] >= 50]
pileup_long_read.tail()

,chrom,pos,_ref,count,basereads,quals
39853,chr1,19972310,N,51,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,FIBIHAHDGIHAIIHG@IIHGHIHIEIGIH?HI>GAEIGHHDIHII...
39854,chr1,19972311,N,51,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,GI:IH?HHIIHAIIFH@IIHGHIHIDIGIH?II?GABIGHHDIHII...
39855,chr1,19972312,N,51,tttttttttttttttttttttttttttttttttttttttttttttt...,EI4IB=HHEIHHGIHH0IIFG@FHHDIDIFDIIBGDGI:HH=IHII...
39856,chr1,19972313,N,51,tttttttttttttttttttttttttttttttttttttttttttttt...,GI>HHDHHIIHHIIHFBIIGG@HGIDIGIDGII?GGGIDHHDIBII...
39857,chr1,19972314,N,50,t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$...,?ICIHDHHIIHHIFGHAIIBGHIHGGH?GBEII=GGEIGHDDIHII...

In [68]:
import re
toremove = re.compile(r'[<>$*#]|\^.')
pileup_long_read['matches'] = pileup_long_read['basereads'].apply(lambda x: toremove.sub('', x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [69]:
pileup_long_read[['chrom', 'pos', 'matches']]

      chrom       pos                                            matches
1      chr1  15137483  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
2      chr1  15137484  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
3      chr1  15137485  GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...
4      chr1  15137486  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
5      chr1  15137487  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
...     ...       ...                                                ...
39853  chr1  19972310  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
39854  chr1  19972311  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
39855  chr1  19972312  tttttttttttttttttttttttttttttttttttttttttttttt...
39856  chr1  19972313  tttttttttttttttttttttttttttttttttttttttttttttt...
39857  chr1  19972314  tttttttttttttttttttttttttttttttttttttttttttttt...

[39857 rows x 3 columns]

In [70]:
pileup_long_read.to_csv('pileup_long_read.csv')

In [71]:
pileup_long_read_data = pileup_long_read[['chrom', 'pos', 'matches']]
pileup_long_read_data['base'] = pileup_long_read_data['matches'].str.len()

pileup_long_read_data.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   chrom       pos                                            matches  base
1   chr1  15137483  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...    53
2   chr1  15137484  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...    53
3   chr1  15137485  GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...    57
4   chr1  15137486  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    52
5   chr1  15137487  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    53
6   chr1  15137488  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...    54
7   chr1  15137489  GGGGGGGGGGGGGGGGGGGGCGGGGGGGGGGGGGGGGGGGGGGGGG...    54
8   chr1  15137490  GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...    54
9   chr1  15137491  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    54
10  chr1  15137492  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...    54

In [72]:
import collections
 
from scipy.stats import entropy
  
def estimate_shannon_entropy(dna_sequence):
    bases = collections.Counter([tmp_base for tmp_base in dna_sequence])
    # define distribution
    dist = [x/sum(bases.values()) for x in bases.values()]
 
    # use scipy to calculate entropy
    entropy_value = entropy(dist, base=2)
 
    return entropy_value

In [73]:
pileup_long_read_data['entropy'] = pileup_long_read_data['matches'].map(lambda x : estimate_shannon_entropy(x))
pileup_long_read_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,chrom,pos,matches,base,entropy
1,chr1,15137483,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,53,0.000000
2,chr1,15137484,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,53,0.000000
3,chr1,15137485,GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...,57,0.471841
4,chr1,15137486,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,52,0.000000
5,chr1,15137487,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,53,0.000000
...,...,...,...,...,...
39853,chr1,19972310,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,51,0.000000
39854,chr1,19972311,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,51,0.000000
39855,chr1,19972312,tttttttttttttttttttttttttttttttttttttttttttttt...,51,0.000000
39856,chr1,19972313,tttttttttttttttttttttttttttttttttttttttttttttt...,51,0.000000
39857,chr1,19972314,tttttttttttttttttttttttttttttttttttttttttttttt...,50,0.000000

In [75]:
pileup_long_read_data['end'] = pileup_long_read_data['pos'] +  pileup_long_read['basereads'].apply(len)
pileup_long_read_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,chrom,pos,matches,base,entropy,end
1,chr1,15137483,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,53,0.000000,15137560
2,chr1,15137484,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,53,0.000000,15137537
3,chr1,15137485,GGGGGGGGGGGGGGGGGGGGG-2NNGGGGGGGGGGGGGGGGGGGGG...,57,0.471841,15137542
4,chr1,15137486,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,52,0.000000,15137539
5,chr1,15137487,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,53,0.000000,15137543
...,...,...,...,...,...,...
39853,chr1,19972310,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,51,0.000000,19972361
39854,chr1,19972311,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,51,0.000000,19972362
39855,chr1,19972312,tttttttttttttttttttttttttttttttttttttttttttttt...,51,0.000000,19972363
39856,chr1,19972313,tttttttttttttttttttttttttttttttttttttttttttttt...,51,0.000000,19972364
39857,chr1,19972314,tttttttttttttttttttttttttttttttttttttttttttttt...,50,0.000000,19972414

In [76]:
chr1_bedgraph_pileup_data = pileup_long_read_data[['chrom','pos','end','entropy']]
chr1_bedgraph_pileup_data.columns = ['chromosome','start','end', 'entropy' ]

chr1_bedgraph_pileup_data

      chromosome     start       end   entropy
1           chr1  15137483  15137560  0.000000
2           chr1  15137484  15137537  0.000000
3           chr1  15137485  15137542  0.471841
4           chr1  15137486  15137539  0.000000
5           chr1  15137487  15137543  0.000000
...          ...       ...       ...       ...
39853       chr1  19972310  19972361  0.000000
39854       chr1  19972311  19972362  0.000000
39855       chr1  19972312  19972363  0.000000
39856       chr1  19972313  19972364  0.000000
39857       chr1  19972314  19972414  0.000000

[39857 rows x 4 columns]

In [128]:
final_chr1_bedgraph_pileup_data = chr1_bedgraph_pileup_data[(chr1_bedgraph_pileup_data['entropy'] >= 1.0)]
final_chr1_bedgraph_pileup_data.head()

    chromosome     start       end   entropy
33        chr1  15137515  15137655  1.091738
35        chr1  15137517  15137618  1.634296
77        chr1  15339091  15339252  1.858983
136       chr1  15339254  15339655  1.062461
221       chr1  15339352  15339415  1.004364

In [129]:
final_chr1_bedgraph_pileup_data.shape

(184, 4)

In [130]:
final_chr1_bedgraph_pileup_data.to_csv("chr1_bedgraph.bed",header=None, index=False, sep='\t')

In [131]:
!bedtools getfasta -fi "GRCm39.primary_assembly.genome.faa" -bed "chr1_bedgraph.bed" -fo chr1.fa.out

In [19]:
import pandas as pd

pileup = pd.read_csv('CLIP-35L33G-chr1.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.tail()

        chrom       pos _ref  count basereads quals
1831661  chr1  19984262    N      4      cccc  H:IE
1831662  chr1  19984263    N      4      aaaa  DCID
1831663  chr1  19984264    N      4      tttt  @CI<
1831664  chr1  19984265    N      4      cccc  D=ID
1831665  chr1  19984266    N      4  c$c$c$c$  HCI>

In [20]:
import re
toremove = re.compile(r'[<>$*#]|\^.')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [21]:
pileup[['chrom', 'pos', 'matches']]

        chrom       pos matches
0        chr1  15000001
1        chr1  15000002
2        chr1  15000003
3        chr1  15000004
4        chr1  15000005
...       ...       ...     ...
1831661  chr1  19984262    cccc
1831662  chr1  19984263    aaaa
1831663  chr1  19984264    tttt
1831664  chr1  19984265    cccc
1831665  chr1  19984266    cccc

[1831666 rows x 3 columns]

In [ ]:
from scipy.stats import entropy
import seaborn as sns

def shannon_entropy(matches: str):
  counts = {"A" : 0, "T" : 0, "G" : 0, "C" : 0}
  for base in matches:
    try :
      counts[base.upper()] += 1
    except KeyError:
      continue
  return 0 if sum(counts.values()) <= 0 else entropy([x/sum(counts.values()) for x in counts.values()])

bedgraph = pileup[["chrom", "pos"]].copy()
bedgraph["start"] = bedgraph["pos"]
bedgraph["end"] = bedgraph["start"] + 1
bedgraph["value"] = pileup["matches"].apply(shannon_entropy)
bedgraph = bedgraph[["chrom", "start", "end",  "value"]]
bedgraph

        chrom     start       end  value
0        chr1  15000001  15000002    0.0
1        chr1  15000002  15000003    0.0
2        chr1  15000003  15000004    0.0
3        chr1  15000004  15000005    0.0
4        chr1  15000005  15000006    0.0
...       ...       ...       ...    ...
1831661  chr1  19984262  19984263    0.0
1831662  chr1  19984263  19984264    0.0
1831663  chr1  19984264  19984265    0.0
1831664  chr1  19984265  19984266    0.0
1831665  chr1  19984266  19984267    0.0

[1831666 rows x 4 columns]

#Chromosome 19

In [81]:
!samtools view -b -o CLIP-chr19.bam CLIP-35L33G.bam chr19
!samtools view CLIP-chr19.bam | wc -l

823068

In [82]:
!samtools sort -o CLIP-chr19.sorted.bam CLIP-chr19.bam
!samtools index CLIP-chr19.sorted.bam

In [83]:
!samtools view CLIP-chr19.bam | head -5

SRR458758.403627	256	chr19	3051244	1	23M	*	0	0	AAGAGCAGGTGGATATTCTTTGG	IIIIIIGIIFIIGIGGIIIIHII	MD:Z:23	NH:i:7	HI:i:7	NM:i:0	SM:i:1	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.1709140	256	chr19	3051244	1	23M	*	0	0	AAGAGCAGGTGGATATTCTTTGG	B;;675BB??DD:B7@3>4@/0@	MD:Z:23	NH:i:7	HI:i:7	NM:i:0	SM:i:1	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.7712889	256	chr19	3051244	1	23M	*	0	0	AAGAGCAGGTGGATATTCTTTGG	@GGGB>DCBCA8F>FCCGG@FGF	MD:Z:23	NH:i:7	HI:i:7	NM:i:0	SM:i:1	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.23388448	256	chr19	3051244	1	23M	*	0	0	AAGAGCAGGTGGATATTCTTTGG	IIIEIIIIHIIIIIIIIIIHIIE	MD:Z:23	NH:i:7	HI:i:7	NM:i:0	SM:i:1	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-
SRR458758.25211653	256	chr19	3051244	1	23M	*	0	0	AAGAGCAGGTGGATATTCTTTGG	GE?D?FEFFADGEDGDFF>G@>B	MD:Z:23	NH:i:7	HI:i:7	NM:i:0	SM:i:1	XQ:i:40	X2:i:40	XO:Z:UM	XS:A:-

In [84]:
!samtools mpileup CLIP-chr19.bam > CLIP-chr19.pileup
!wc -l CLIP-chr19.pileup

[mpileup] 1 samples in 1 input files
23000226 CLIP-chr19.pileup

In [85]:
!head -20 CLIP-chr19.pileup

chr19	3059904	N	17	^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^GA^GA	IGIGIHGGHIFFGIHGD
chr19	3059905	N	17	GGGGGGGGGGGGGGGGG	I@BIGHGGHIIIGIGGG
chr19	3059906	N	17	AAAAAAAAAAAAAAAAA	I>IIEHGGHIIIGIHGD
chr19	3059907	N	17	AAAAAAAAAAAAAAAAA	IGIIHHGEHIIIGIHGF
chr19	3059908	N	17	TTTTTTTTTTTTTTTTT	IGIIIHGEHIIIGIHDG
chr19	3059909	N	17	TTTTTTTTTTTTTTTTT	IAGIIHHGHIIIGIHGD
chr19	3059910	N	17	AAAAAAAAAAAAAAAAA	IEIFIGI<HHIHGIB@G
chr19	3059911	N	17	AAAAAAAAAAAAAAAAA	IBHIIHIGHHIIGIDGG
chr19	3059912	N	17	AAAAAAAAAAAAAAAAA	I?IIIEIGHHIIGIHGG
chr19	3059913	N	17	AAAAAAAAAAAAAAAAA	I>IGIHI8HHIIGIH@D
chr19	3059914	N	17	CCCCCCCCCCCCCCCCC	I@FIIHIBHIIIBIGDE
chr19	3059915	N	17	AAAAAAAAAAAAAAAAA	I2IIHAF@HHHIDIGDA
chr19	3059916	N	17	GGGGGGGGGGGGGGGGG	I2IIDHI@HIHIDH7AD
chr19	3059917	N	17	AAAAAAAAAAAAAAAAA	I1HHGBDBHHHIGIGDG
chr19	3059918	N	16	AAAAAAAAAAAAAAAA	IHIIHI<HIIHGIGGE
chr19	3059919	N	17	AAAAAAAAAAAAAAAAA	I3IIHGH<HIII?IGDG
chr19	3059920	N	17	CCCCCCCCCCCCCCCCC	I@IIHGGEHIII;I>E@
chr19	3059921	N	17	TTTTTTTTTTTTTTTTT	I=IIHHGEHIHI?IEGG
chr19	3059922	N	17	GGGGGGGGGGGGGGGGG	I<IIIGH8BIIIDI@EG
chr19	3059923	N	17	T$T$T$T$T$T$T$T$T$T$T$T$T$T$T$T$T$	H<GHGHGCDGIG?IDDG

In [86]:
!awk '{ print $4 }' CLIP-chr19.pileup | head -5

17
17
17
17
17

In [87]:
!awk '$4 > 10' CLIP-chr19.pileup | head -10

In [88]:
!head -5 CLIP-chr19.pileup

chr19	3059904	N	17	^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^GA^GA	IGIGIHGGHIFFGIHGD
chr19	3059905	N	17	GGGGGGGGGGGGGGGGG	I@BIGHGGHIIIGIGGG
chr19	3059906	N	17	AAAAAAAAAAAAAAAAA	I>IIEHGGHIIIGIHGD
chr19	3059907	N	17	AAAAAAAAAAAAAAAAA	IGIIHHGEHIIIGIHGF
chr19	3059908	N	17	TTTTTTTTTTTTTTTTT	IGIIIHGEHIIIGIHDG

In [91]:
import pandas as pd
import numpy as np

In [90]:
chr19 = pd.read_csv('CLIP-chr19.pileup', sep = '\t', index_col = 0)

In [92]:
chr19.head()

,3059904,N,17,^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^GA^GA,IGIGIHGGHIFFGIHGD
chr19,,,,,
chr19,3059905,N,17,GGGGGGGGGGGGGGGGG,I@BIGHGGHIIIGIGGG
chr19,3059906,N,17,AAAAAAAAAAAAAAAAA,I>IIEHGGHIIIGIHGD
chr19,3059907,N,17,AAAAAAAAAAAAAAAAA,IGIIHHGEHIIIGIHGF
chr19,3059908,N,17,TTTTTTTTTTTTTTTTT,IGIIIHGEHIIIGIHDG
chr19,3059909,N,17,TTTTTTTTTTTTTTTTT,IAGIIHHGHIIIGIHGD

In [93]:
chr19_filtered = chr19[chr19['17'] >= 50]

In [ ]:
chr19_filtered.head(10)

In [95]:
chr19_filtered.head(10)

,3059904,N,17,^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^GA^GA,IGIGIHGGHIFFGIHGD
chr19,,,,,
chr19,3335340,N,53,<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^I...,IHGHHIHGFH8=IBIIIHIGIGGDFGIDHIIIHIHHFIHIIIIGIH...
chr19,3335341,N,53,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIGCDH@?I;IIIGIHIGBGHHIGHIIIHIHHFIHIHIIHII...
chr19,3335342,N,59,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIHCCH=?IBIIIHIHEGHGHHEBHIIIHIHHHHHIIIIGII...
chr19,3335343,N,59,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIHA@H<4I?IIIHIHIDHGHHIGHIFHHIHHHHHIIHIHII...
chr19,3335344,N,59,<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,IHG:HIF6>F9<I7IIIHIDHAHDFDD>@HHHHIHHDIDIIIIAII...
chr19,3335345,N,65,<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,IHGHIIH=GGB<IEHIIGIHIGHG<BIBHIIIHIHEHIDIIIIHII...
chr19,3335346,N,65,<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...,IHGHIEH:DD>BH>IBIHHHIGE8@GIBBGGIHIGEHHBIIIIDII...
chr19,3335347,N,65,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIGBBGEBIEI@IHIHEEFG8GHGHIIHHIDHEIGIIIIGII...
chr19,3335348,N,89,<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,IHGHIIHB>GB<IDIIIHIHIGHEEGIGGIIIBIHHHIGIIHHGEI...
chr19,3335349,N,89,<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,IHGFIIH=GGDEI>GIIHIHHGHDFGHGGIIFHHHHHIDIIGIDII...

In [96]:
chr19_filtered.to_csv('CLIP-chr19-50.pileup',sep = '\t')

In [97]:
!head -20 CLIP-chr19-50.pileup

chr19	3059904	N	17	^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^GA^GA	IGIGIHGGHIFFGIHGD
chr19	3335340	N	53	<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^IA^IA^IA^HA^IA^HA^IA^GA^IA	IHGHHIHGFH8=IBIIIHIGIGGDFGIDHIIIHIHHFIHIIIIGIHIHIBIFI
chr19	3335341	N	53	<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	IHGHIIGCDH@?I;IIIGIHIGBGHHIGHIIIHIHHFIHIHIIHIIIHIGIBI
chr19	3335342	N	59	<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC^IC^GC^IC^IC^HC^HC	IHGHIIHCCH=?IBIIIHIHEGHGHHEBHIIIHIHHHHHIIIIGIIIHIGIDII?IGHH
chr19	3335343	N	59	<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	IHGHIIHA@H<4I?IIIHIHIDHGHHIGHIFHHIHHHHHIIHIHIIIHIEIDIHEIIFH
chr19	3335344	N	59	<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IHG:HIF6>F9<I7IIIHIDHAHDFDD>@HHHHIHHDIDIIIIAIIIHIBHFIIGIDHH
chr19	3335345	N	65	<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG^GG^IG^IG^IG^GG^IG	IHGHIIH=GGB<IEHIIGIHIGHG<BIBHIIIHIHEHIDIIIIHIIIHHEI=IIGIIHHGIIE@F
chr19	3335346	N	65	<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHGHIEH:DD>BH>IBIHHHIGE8@GIBBGGIHIGEHHBIIIIDIIIHIDIEHG@I@HHGIHH@H
chr19	3335347	N	65	<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC	IHGHIIGBBGEBIEI@IHIHEEFG8GHGHIIHHIDHEIGIIIIGIIIHIDIEII@IGHHGIHIBH
chr19	3335348	N	89	<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^IA^IA^GA^GA^IA^DA^HA^IA^IA^GA^GA^HA^IA^HA^IA^GA^HA^IA^IA^IA^IA^CA^HA^IA	IHGHIIHB>GB<IDIIIHIHIGHEEGIGGIIIBIHHHIGIIHHGEIIGIGIFIIGIIHHGIII<GFIF?I?HFI@GHIBIGGEGII@HI
chr19	3335349	N	89	<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA	IHGFIIH=GGDEI>GIIHIHHGHDFGHGGIIFHHHHHIDIIGIDIIIHIBIFIIGHIBHDHII@IGIF=I;HHIGGHIGIGGHBII3GI
chr19	3335350	N	89	<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHG>GID8G<D3D:GGIHHEEAHC@D3GGHIIFIHHFIGIFDIGIIIHI8IEIIGIIFHGIHIDIDIFGI7GIIF?GIGIGGIDII@GI
chr19	3335351	N	87	<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA	IHGGII8DEC?:G8GDGHIBGEBBGE=>HIDHIGGBIHIGIIHIIIEIEHBIIGIIBHDGIIBI@IAGHHHIGDHH@IGGIIHH3BF
chr19	3335352	N	88	<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA	IHGBIIGDEE32IGIHHIHBDHE9HGGGHIIGHHGHIHIIIIHIIHHIFIGII@IIGHGHII?IIEBGI7HIIBGGIGIEGIDIH;HH
chr19	3335353	N	89	<<<GGGGCGGGGGGGGCGCGGGCGAAAAGGGGGGCGCCCCGGCCGGGAAAGGGGGGGGGAAAAAAGGGGGGGGGGGGGGGGGGGGGGGG	IHGGIHB;EAD=G=GBIHIHG>D<;HDGGHIIEIHGHIHIGIIHIIIHI@IDIIBIHGGGHII;IGHFFI7HIIEGGIDIGEIDHI=EG
chr19	3335354	N	89	<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IHGEBG>EE>02D:DEHEIHCCHC;FDDEEGF?EHDHIHIFFIGHIIHI>HGEG:IHFEDIII=FGIEBI=FIIBGBIGIGGG<IIA<G
chr19	3335355	N	89	<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHGBGIGBED7>I4HIGHIGGEHGABGGGIIGEIHGHIGIDIIGIHIHHGIGHIBIIG>GIIIGIGIDFG:HIIDGGI<IGGIGHI?>G
chr19	3335356	N	89	<<<GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG	IHGBIIGFGD26I>IGIHIHGEE@GGHHGIHGDHHHHIHIIIHGHIIHIDIGGHBIIGH@IIIGIGIDFI/GIIDDGEGIGGHGII?GG
chr19	3335357	N	88	<<<TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IHGGHHDEDB0:HHIGEIHDGCDDEEHFHHEAHHHHHGGIIGGIIIDHEIEHH:HGGGGIHIGIGICAI5GIICBEIGHEGIGII=DG
chr19	3335358	N	89	<<<TTTTTTTTTTTTTTTTTTTTTT$T$T$T$TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT	IHGGIIGCGD7;I4IIIHIHGDHGDEIHGIIGGIHGHIHIIIIGIIIHIGIGIIBIIHGGIIIDIIIGGI=HIIDFHHBIGHIIII4GI

In [98]:
pileup = pd.read_csv('CLIP-chr19-50.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])
pileup.head()

,chrom,pos,_ref,count,basereads,quals
0,chr19,3059904,N,17,^IA^GA^IA^IA^IA^HA^IA^GA^HA^IA^IA^IA^GA^IA^HA^...,IGIGIHGGHIFFGIHGD
1,chr19,3335340,N,53,<<<AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA^I...,IHGHHIHGFH8=IBIIIHIGIGGDFGIDHIIIHIHHFIHIIIIGIH...
2,chr19,3335341,N,53,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIGCDH@?I;IIIGIHIGBGHHIGHIIIHIHHFIHIHIIHII...
3,chr19,3335342,N,59,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIHCCH=?IBIIIHIHEGHGHHEBHIIIHIHHHHHIIIIGII...
4,chr19,3335343,N,59,<<<CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,IHGHIIHA@H<4I?IIIHIHIDHGHHIGHIFHHIHHHHHIIHIHII...

In [99]:
pileup_long_read = pileup[pileup['count'] >= 50]
pileup_long_read.tail()

,chrom,pos,_ref,count,basereads,quals
681375,chr19,61293501,N,63,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,GEIIII;IBI=GI;I?IHIIIIIFG?@I;GIFHBGIHHIIGB=IHH...
681376,chr19,61293502,N,63,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa$a...,GGIHII4I?IGGI6IDHHIIIIIFGB;I2DIBH?DIIHIIHE:IHH...
681377,chr19,61293503,N,59,cccccccccccccccccccccccccccccccccccccccccccccc...,GGIIII;IBIGGI;HDIHIIIIIFG.AIA@IFHBGIIHGIHEBHH?...
681378,chr19,61293504,N,58,tttttttttttttttttttttttttttttttttttttttttttttt...,GDIIHI7IBIEGI:HBIGIIIIIFGB8I@GIFHBGIIHGIFBHH=?...
681379,chr19,61293505,N,59,t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$t$...,GGIIHI?ICIGGIBHDIGIIIIIFG:AIAGGFHCGIDHIIBEBBGD...

In [100]:
import re
toremove = re.compile(r'[<>$*#]|\^.')
pileup_long_read['matches'] = pileup_long_read['basereads'].apply(lambda x: toremove.sub('', x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
pileup_long_read[['chrom', 'pos', 'matches']]

        chrom       pos                                            matches
1       chr19   3335340  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
2       chr19   3335341  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
3       chr19   3335342  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
4       chr19   3335343  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
5       chr19   3335344  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...
...       ...       ...                                                ...
681375  chr19  61293501  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
681376  chr19  61293502  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
681377  chr19  61293503  cccccccccccccccccccccccccccccccccccccccccccccc...
681378  chr19  61293504  tttttttttttttttttttttttttttttttttttttttttttttt...
681379  chr19  61293505  tttttttttttttttttttttttttttttttttttttttttttttt...

[681379 rows x 3 columns]

In [102]:
pileup_long_read.to_csv('pileup_long_read.csv')

In [103]:
pileup_long_read_data = pileup_long_read[['chrom', 'pos', 'matches']]
pileup_long_read_data['base'] = pileup_long_read_data['matches'].str.len()

pileup_long_read_data.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    chrom      pos                                            matches  base
1   chr19  3335340  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...    50
2   chr19  3335341  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    50
3   chr19  3335342  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    56
4   chr19  3335343  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    56
5   chr19  3335344  TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...    56
6   chr19  3335345  GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...    62
7   chr19  3335346  GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG...    62
8   chr19  3335347  CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...    62
9   chr19  3335348  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...    86
10  chr19  3335349  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...    86

In [104]:
import collections
 
from scipy.stats import entropy
  
def estimate_shannon_entropy(dna_sequence):
    bases = collections.Counter([tmp_base for tmp_base in dna_sequence])
    # define distribution
    dist = [x/sum(bases.values()) for x in bases.values()]
 
    # use scipy to calculate entropy
    entropy_value = entropy(dist, base=2)
 
    return entropy_value

In [105]:
pileup_long_read_data['entropy'] = pileup_long_read_data['matches'].map(lambda x : estimate_shannon_entropy(x))
pileup_long_read_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,chrom,pos,matches,base,entropy
1,chr19,3335340,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,50,0.0
2,chr19,3335341,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,50,0.0
3,chr19,3335342,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,56,0.0
4,chr19,3335343,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,56,0.0
5,chr19,3335344,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,56,0.0
...,...,...,...,...,...
681375,chr19,61293501,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,63,0.0
681376,chr19,61293502,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,63,0.0
681377,chr19,61293503,cccccccccccccccccccccccccccccccccccccccccccccc...,59,0.0
681378,chr19,61293504,tttttttttttttttttttttttttttttttttttttttttttttt...,58,0.0
681379,chr19,61293505,tttttttttttttttttttttttttttttttttttttttttttttt...,59,0.0

In [106]:
pileup_long_read_data['end'] = pileup_long_read_data['pos'] +  pileup_long_read['basereads'].apply(len)
pileup_long_read_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,chrom,pos,matches,base,entropy,end
1,chr19,3335340,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,50,0.0,3335411
2,chr19,3335341,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,50,0.0,3335394
3,chr19,3335342,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,56,0.0,3335413
4,chr19,3335343,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,56,0.0,3335402
5,chr19,3335344,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,56,0.0,3335403
...,...,...,...,...,...,...
681375,chr19,61293501,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,63,0.0,61293564
681376,chr19,61293502,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,63,0.0,61293569
681377,chr19,61293503,cccccccccccccccccccccccccccccccccccccccccccccc...,59,0.0,61293562
681378,chr19,61293504,tttttttttttttttttttttttttttttttttttttttttttttt...,58,0.0,61293562
681379,chr19,61293505,tttttttttttttttttttttttttttttttttttttttttttttt...,59,0.0,61293622

In [107]:
chr19_bedgraph_pileup_data = pileup_long_read_data[['chrom','pos','end','entropy']]
chr19_bedgraph_pileup_data.columns = ['chromosome','start','end', 'entropy' ]

chr19_bedgraph_pileup_data

       chromosome     start       end  entropy
1           chr19   3335340   3335411      0.0
2           chr19   3335341   3335394      0.0
3           chr19   3335342   3335413      0.0
4           chr19   3335343   3335402      0.0
5           chr19   3335344   3335403      0.0
...           ...       ...       ...      ...
681375      chr19  61293501  61293564      0.0
681376      chr19  61293502  61293569      0.0
681377      chr19  61293503  61293562      0.0
681378      chr19  61293504  61293562      0.0
681379      chr19  61293505  61293622      0.0

[681379 rows x 4 columns]

In [120]:
final_chr19_bedgraph_pileup_data = chr19_bedgraph_pileup_data[(chr19_bedgraph_pileup_data['entropy'] >= 1.0)]
final_chr19_bedgraph_pileup_data.head()

     chromosome    start      end   entropy
14        chr19  3335353  3335442  1.131850
704       chr19  3336043  3336172  1.921928
2311      chr19  3341114  3341210  1.160887
2341      chr19  3341170  3341656  1.566642
2368      chr19  3428422  3428476  1.310567

In [121]:
final_chr19_bedgraph_pileup_data.shape

(1904, 4)

In [122]:
final_chr19_bedgraph_pileup_data.to_csv("chr19_bedgraph.bed",header=None, index=False, sep='\t')

In [123]:
!bedtools getfasta -fi "GRCm39.primary_assembly.genome.faa" -bed "chr19_bedgraph.bed" -fo chr19.fa.out

In [124]:
!head chr19_bedgraph.bed

chr19	3335353	3335442	1.1318503897622056
chr19	3336043	3336172	1.9219280948873625
chr19	3341114	3341210	1.1608871285452633
chr19	3341170	3341656	1.5666420858492487
chr19	3428422	3428476	1.3105673797344795
chr19	3434487	3434587	1.3254830038556071
chr19	3505072	3505320	1.1958731529937963
chr19	3505074	3505271	1.431585648435763
chr19	3505119	3505223	1.0801220327136007
chr19	3505120	3505224	1.5265111237265876

In [125]:
!less chr19_bedgraph.bed | wc -l

1904

In [126]:
!bedtools getfasta -fi GRCm39.primary_assembly.genome.faa -bed chr19_bedgraph.bed -fo chr19_CLIP.fa.out

In [127]:
!head chr19_CLIP.fa.out

>chr19:3335353-3335442
TGGTTCTGCCGGACCCTGTTGAAGAGACGAGACACCATGCGGGTAAGACTTAACAGGAGCTGGGCAGGGAGGCCTTTGTAGCCCTAGCA
>chr19:3336043-3336172
CGAATGTGATGATGAGGGGTGGCAGTGGTGGTATGCAGGCTGTATGTATAGGCCCTGCGTGTCCTATCTGGACCACTTGCTGACTGTCAGTGCTCACTCACTGTGCAGGGCACCACCACAGGAGAGGTC
>chr19:3341114-3341210
AGGATCACAAGTTCCAGGCTAGGTTGGGCTACAAAGCAAGACCTTGTCTGACAATGAAAACAAATAAAGTATTTTTTAGGAGACTGAGCCTGTGAC
>chr19:3341170-3341656
AAAACAAATAAAGTATTTTTTAGGAGACTGAGCCTGTGACTTGCTGTTAAAGCCAGTTCGTGCTGCCTGGTAGGGTACATTAGCCGTCAGAATAAACATCACTCTGAGCCCTAGCAGCAAGCCTGCTGCTTGTACGGACTGGTGGTATTCCTGGCAGCTGTAGCAGGCAGAAAGGGGACCCACACCTGGGACAGAAGTGGGCAAGAGCTGGAGTGGGTTACCAGGACAGCTGCTGGGATTGGGCATGTGGTGACAGTGCACTTACTGCCCTAGCAAAGCCCTCAGAGGCTGAGTCAGAAGGATTCCCAAGTTCAAGGTCATCTTCACCTGCATAGTAAGCCCTGGGCTAACCTGAGCTCTCTGACCCTATCTCAGGATGAAGCAAGCTGCTCCAGGATGGAAAGCTGCAACTGGCCGGGAGATATCTGTGTGTCAGCTGCTTCCTTTAGCCTCCATGGTTCTATGACAGGGGTCACAGTACAGGGT
>chr19:3428422-3428476
AGGGGAGGACAGAGACTGTACGCTCCTGCACTACGGAGTCCTGCAACTTTGTGC